# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environnements / secrets
.venv/
.env

# OS
.DS_Store
Thumbs.db

# Données volumineuses (désactive si tu veux versionner des échantillons)
# data/raw/
# data/processed/

# Rapports lourds (optionnel)
# reports/*.html
# reports/*.pdf
